<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pop.center.dao.PopDAO">

	<sql id="Base_Column_List">
		id,type,longitude,latitude,altitude,user_id,user_name,model,update_time,add_time
	</sql>


	<insert id="save" parameterType="com.pop.center.entity.PopEntity" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO pop_basic
		(
		type,longitude,latitude,altitude,user_id,user_name,model
		)
		VALUES
		(
        #{type},#{longitude},#{latitude},#{altitude},#{userId},#{userName},#{model}
		)
	</insert>





</mapper>